:root {
  --color-bg: #282828;
  --color-fg: #ebdbb2;
  --color-gray: #a89984;
  --color-blue: #458588;
}

html {
  font-family: 'IBM Plex Sans JP', sans-serif;
  background-color: var(--color-bg);
  color: var(--color-fg);
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}